myservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap-testing.herokuapp.com" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://soap-testing.herokuapp.com" 
    xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/">
    <wsdl:types>
        <xs:schema targetNamespace="http://soap-testing.herokuapp.com">
            <xs:complexType name="DummyResponseObj">
                <xs:sequence>
                    <xs:element name="DummyResult" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="DummyRequestObj">
                    <xs:sequence>
                        <xs:element name="data" type="xs:string"/>
                    </xs:sequence>
            </xs:complexType>

            <xs:element name="DummyResponseObj" type="tns:DummyResponseObj"/>
            <xs:element name="DummyRequestObj" type="tns:DummyRequestObj"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="DummyRequest">
        <wsdl:part name="DummyRequest" element="tns:DummyRequestObj"/>
    </wsdl:message>
    <wsdl:message name="DummyResponse">
        <wsdl:part name="DummyResponse" element="tns:DummyResponseObj"/>
    </wsdl:message>
    <wsdl:portType name="DummyPortType">
        <wsdl:operation name="Dummy">
            <wsdl:input message="tns:DummyRequest"/>
            <wsdl:output message="tns:DummyResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DummyBinding" type="tns:DummyPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Dummy">
            <soap:operation soapAction="http://soap-testing.herokuapp.com/wsdl#Dummy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DummyService">
        <wsdl:port name="DummyPortType" binding="tns:DummyBinding">
            <!-- <soap:address location="http://localhost:8001/wsdl"/> -->
            <soap:address location="http://soap-testing.herokuapp.com/wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>